<div [@dropDown]>
    <div id="banner" class="row">
        <div  class="small-7 column">
            <h3>
                Moxie's Joint
            </h3>
            <h4>
                Cafe' &amp; Grille
        </h4>
        </div>
        <nav class="small-5 column">
            <div class="row">
                <div class="small-6 column">
                    <a class="button expanded" routerLink="/menu">
                        Menu
                    </a>
                </div>
                <div class="small-6 column">
                    <a class="button expanded" routerLink="/contact">
                        Contact
                    </a>
                </div>
            </div>
        </nav>
    </div>

    <div id="contact" class="row">
        <h3 class="small-4 column">
            Contact
        </h3>
        <h3 class="small-8 column text-right">
            813-978-9700 Ext. 7269
        </h3>
    </div>
</div>

<div id="details" class="row">
    <div class="medium-6 column">
        <div class="card">
            <h3 class="card-divider">
                Hours
            </h3>
            <div class="card-section">
                <h4>Monday - Thursday</h4>
                <h5>7:00AM - 5:00PM</h5>
            </div>
            <div class="card-section">
                <h4>Friday</h4>
                <h5>7:00AM - 4:00PM</h5>
            </div>
        </div>
    </div>
    <div class="medium-6 column">
        <div class="card">
            <h3 class="card-divider">
                Location
            </h3>
            <div class="card-section">
                <h4>
                    13020 Telecom Parkway, Tampa, Florida 33637
                </h4>
                <h5>
                    Located on the Second Floor of the Florida Orthopaedic Institute
                </h5>
            </div>
        </div>
    </div>
</div>

<div id="map" class="row column">
    <div class="card">
        <h3 class="card-divider">
            Map
        </h3>
    </div>
    <iframe allowfullscreen class="row column" height="500" frameborder="0" style="border:0" src="//www.google.com/maps/embed/v1/place?key=AIzaSyBQ4EUaRYI6wgmXAdlmmgpXPKy9ty06mH8&q=Welcome+to+Moxie's+Joint+Cafe'+%26+Grille"></iframe>
</div>

